/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.pagination-link{
    font-size: 10px;
}

.colorpicker {
    display: block;
    width: 38px;
    height: 38px;
    cursor: pointer;
    color: transparent !important;
    border: 1px solid #ced4da;
    border-radius: 3px;
    outline: 0px;
}

a:active,
a:hover {
    text-decoration: none;
}

.fa-trophy {
    font-size: 35px !important;
}

.fa-calendar-check-o {
    font-size: 35px !important;
}

.fa-eye {
    font-size: 35px !important;
    color: #007bff;
}

.fa-pencil {
    font-size: 35px !important;
    color: dimgray;
}

.fa-trash-o {
    font-size: 35px !important;
    color: darkred;
}

#map {
    height: 500px;
    width: 100%;
}

.select2-selection {
    height: 38px !important;
    border-color: #ced4da !important;
}

.select2-selection__rendered{
    height: 34px !important;
}

.select2-selection__placeholder{
    line-height: 34px;
}

.select2-search__field {
    line-height: 100% !important;
}

.dataTables_wrapper{
    width: 100% !important;
}

.link-button{
    background: transparent;
    border: 0;
}
.fa-home,
.fa-futbol-o,
.fa-usd,
.fa-heart-o,
.fa-lightbulb-o {
    font-size: 35px !important;
}