@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*<table class="table table-striped table-bordered dt-responsive nowrap">
    <thead>
        <tr>
            <th>Name</th>
            <th>Something</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var valami in Model.Valamik)
        {
            <tr>
                <td>@valami.Name</td>
                <td>@valami.Something</td>
            </tr>
        }
    </tbody>
</table>*@

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
