@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Események</h1>

<div id="eventList">
    @await Html.PartialAsync("_Events", Model.Events)
</div>

<div id="loading"></div>

@section Scripts{
    <script type="text/javascript">
        var page = 0;
        var _inCallback = false;

        function loadProducts() {
            if (page > -1 && !_inCallback) {
                _inCallback = true;
                page++;

                $('div#loading').html('<p><img src="/images/loading.gif"></p>');
                //$.ajax({
                //    url: "/Index",
                //    type: "GET",
                //    data: {
                //        id: page,
                //        handler: 'events'
                //    },
                //    contentType: "application/json",
                //    dataType: "json",
                //    success: function (data) {
                //        if (data != '') {
                //            $("#eventList").append(data);
                //        }
                //        else {
                //            page = -1;
                //        }

                //        _inCallback = false;
                //        $('div#loading').empty();
                //    },
                //    failure: function (response) {

                //    }
                //});

                $.get("/Index?handler=events&id=" + page, function (data) {
                    if (data != '') {
                        $("#eventList").append(data);
                    }
                    else {
                        page = -1;
                    }
                    _inCallback = false;
                    $('div#loading').empty();
                });
            }
        }

        var dcList = true;

        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                loadProducts();
            }
        });
    </script>
}